/*  Theme Responsive Css */




@media only screen and (max-width: 1200px) {

	body {
		overflow-x: hidden;
	}

	.main-header .logo-box:after,
	.contact-section .contact-info li.single-item:before {
		display: none;
	}

	.menu-area {
		margin-left: -90px;
	}

	.navigation>li {
		margin: 0px 7px;
	}

	.single-news-column .img-box img {
		height: 258px;
	}

	.service-section .img-box {
		margin-top: 90px;
	}

	.dentists-profile-content {
		margin-left: 0px;
	}

	.dentists-profile .img-box img {
		width: 100%;
	}

	.faq-section .accordion-box {
		margin-top: 0px;
	}

	.single-news-column .news-content {
		padding: 34px 8px 0px 30px;
	}

	.main-slider .slider-wrapper .image img {
		width: auto;
	}

	.blog-details-content .single-news-column .img-box img {
		height: 100%;
	}

}



@media only screen and (max-width: 991px) {

	.menu-area {
		margin-left: 0px;
	}

	.main-menu {
		display: block;
	}

	.main-header .top-btn {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.main-header,
	.theme_menu.stricky-fixed {
		background: #fff;
		padding-bottom: 10px;
	}

	.main-header .logo-box {
		width: 192px;
		margin: auto;
		padding: 20px 0px 0px 0px;
	}

	.main-header .top-btn .theme-btn {
		background: #fff;
		border: 2px solid #fff;
		color: #fff;
		box-shadow: none;
	}

	.main-header .top-btn .theme-btn:hover {
		background: #222;
		border: 2px solid #222;
	}

	.cta-section .cta-btn {
		float: none;
		display: block;
		margin-top: 30px;
	}

	.about-content {
		margin-bottom: 30px;
	}

	.choose-section:after {
		width: 100%;
	}

	.service-section .img-box {
		margin: 0px 0px 30px 0px;
	}

	.service-img-column {
		padding: 0px 15px;
	}

	.single-counter-box {
		margin: 15px 0px;
	}

	.single-doctors-content {
		margin: 15px 0px;
	}

	.single-news-column .img-box img {
		height: 100%;
	}

	.single-news-column .news-content {
		margin-left: 0px;
		border-left: 1px solid #e5e5e5;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0px;
		border-top: none;
		padding-bottom: 20px;
	}

	.main-footer .link-widget {
		margin-bottom: 80px;
	}

	.service-sidebar-content {
		margin-bottom: 30px;
	}

	.dentists-profile-content {
		margin-top: 30px;
	}

	.sidebar {
		margin-left: 0px;
		margin-top: 30px;
	}

	.contact-section .contact-info li.single-item {
		padding-bottom: 15px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	textarea {
		background: #fff;
	}

	.single-news-column {
		border: 1px solid #e5e5e5;
		border-top-left-radius: 10px;
	}

	.single-news-column .news-content {
		border: none;
	}

	.blog-details-content .single-news-column {
		border: none;
	}

	.faq-section .img-box {
		display: none;
	}

	.faq-section {
		padding: 100px 0px;
	}

	.contact-section .contact-info li.single-item {
		width: 49%;
	}

}


@media only screen and (max-width: 767px) {

	.owl-carousel .owl-item img {
		width: 100%;
	}

	.single-doctors-content {
		max-width: 370px;
		margin: 15px auto;
	}

	.owl-dots {
		display: none !important;
	}

	.single-news-column {
		max-width: 300px;
		border-top-right-radius: 10px;
		overflow: hidden;
		margin: 15px auto;
	}

	.single-news-column .img-box img {
		transform: scale(1.1);
	}

	.single-news-column .img-box {
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0px;
		overflow: hidden;
	}

	.main-footer .logo-widget,
	.main-footer .link-widget {
		margin-bottom: 30px;
	}

	.newsletter-section .newsletter-content {
		margin-bottom: 15px;
	}

	.portfolio-section .single-portfolio-content {
		max-width: 370px;
		margin: 15px auto;
	}

	.blog-details-content .single-news-column {
		max-width: 100%;
	}

	.sidebar .sidebar-post .post {
		padding-bottom: 35px;
	}

	.contact-section .contact-info li.single-item {
		width: 285px;
		display: block;
		margin: 15px auto;
	}

	.choose-content {
		margin-left: 0px;
	}

	.choose-section:before {
		width: 100%;
	}

	.error-section .error-title {
		font-size: 130px;
		line-height: 130px;
	}

	.error-section .error-title img {
		max-width: 40%;
	}

	.choose-section .img-column {
		width: 100%;
	}

	.theme_menu.stricky-fixed {
		display: none;
	}

	.about-content .single-item {
		margin-bottom: 15px;
	}

	.about-content .about-btn {
		margin-top: 30px;
	}

	.blog-details-content .single-news-column:hover .img-box img {
		transform: scale(1.1);
	}


}

@media only screen and (max-width: 599px) {

	.stricky-fixed .logo-box {
		display: none;
	}

	.main-header .top-btn {
		top: 6px;
	}

}


@media only screen and (max-width: 499px) {

	.owl-nav {
		display: none !important;
	}

	.slide-nav .owl-nav {
		display: block !important;
	}

	.footer-bottom .footer-social {
		float: none;
		display: block;
		text-align: center;
	}

	.footer-bottom .copyright {
		display: block;
		text-align: center;
	}

	.blog-details-content .comments-area .comment.reply-comment {
		margin-left: 0px;
	}

	.error-section .error-title {
		font-size: 125px;
	}

	.sidebar .sidebar-widget {
		padding: 43px 15px 34px 15px;
	}

	.contact-section .contact-info li.single-item {
		width: 100%;
	}

}

@media only screen and (max-width: 399px) {}




/** main-menu **/



@media only screen and (max-width: 991px) {


	/*=================== mobile-menu ======================*/

	.main-header .navigation {
		display: none;
	}

	.main-menu .collapse {
		border: 0px;
		max-height: 300px;
		display: none !important;
		overflow: auto !important;
	}

	.main-menu .collapse.in,
	.main-menu .collapsing {
		display: block !important;
	}

	.main-menu .navbar-header {
		padding: 8px 0px;
		float: none;
	}

	.main-menu .navbar-toggle {
		float: none;
		margin: 0;
		display: block;
	}

	.main-menu .navbar-toggle .icon-bar {
		background: #222;
		width: 30px;
	}


	/*=================================menu=======================*/

}


@media (max-width: 1200px) and (min-width: 992px) {
	.menuzord-menu>li>a {
		padding: 40px 15px;
	}

	.theme_menu .thm-btn {
		padding: 0 15px;
	}

	.theme_menu .right-column {
		width: 225px;
	}
}

@media only screen and (min-width: 991px) {
	.mobile-menu {
		display: none;
	}
}

@media(max-width:425px) {
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
}